{%extends "layout.html"%}
{% block content%}
  <div class="container">
    <div class="row">
      <div class="inputTableName">ERP 15 MAP</div>

      

      <div class="col-12"> 
        <div class="p-3 my-3">
                <!-- Button trigger modal -->
          <div class="row justify-content-around">
            <button type="button" class="btn btn-primary col-2 mb-3" data-toggle="modal" data-target="#modalAdd">
            ADD
            </button>
            
            <div class="input-group mb-3 col-4 mt-2">
              <input class="searchInput form-control" data-table-id="table1" type="search" placeholder="Search..." aria-label="Search"
                aria-target="table1">
              <div class="input-group-append">
                <span class="input-group-text bg-primary" id="basic-addon2"><i class='fa fa-search' aria-hidden='true'></i> </span>
              </div>
            </div>
          </div>
         

          {% with messages = get_flashed_messages() %}
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-success alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
              <span aria-hidden="true">x</span>
            </button>
            {{message}}
          </div>
          
          {% endfor %}
          {%endif %}
          {% endwith %}
          
          <!-- Modal ADD-->
          <div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <form method="post" action='{{url_for("views.inserterp15map")}}'>
                        <div class="form-group">
                          <label for="exampleInputEmail1">inOut</label>
                          <input type="text" class="form-control" name="inOut"  required tab-index="1">
                        </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Type</label>
                        <input type="text" class="form-control" name="Type"  required tab-index="2">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputname1">Flag</label>
                        <input type="text" class="form-control" name="Flag"  required tab-index="3">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputname1">StockInQty</label>
                        <input type="text" class="form-control" name="StockInQty"  required tab-index="4">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputname1">ReExported</label>
                        <input type="text" class="form-control" name="ReExported"  required tab-index="5">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputname1">ChangeUsage</label>
                        <input type="text" class="form-control" name="ChangeUsage"  required tab-index="6">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputname1">StockedOutFor</label>
                        <input type="text" class="form-control" name="StockedOutFor"  required tab-index="7">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputname1">otherPurpose</label>
                        <input type="text" class="form-control" name="otherPurpose"  required tab-index="8">
                      </div>
                      <button type="submit" class="btn btn-primary" tab-index="9">Submit</button>
                    </form>
                </div>
              </div>
            </div>
          </div>
        
          <!-- table -->
          <table class="sortTable table table-responsive-md table-hover" id="table1">
            <thead class="table-dark">
              <tr>
                <th scope="col" >inOut</th>
                <th scope="col" >Type</th>
                <th scope="col" >Flag</th>
                <th scope="col" >StockInQty</th>
                <th scope="col" >ReExported</th>
                <th scope="col" >ChangeUsage</th>
                <th scope="col" >StockedOutFor</th>
                <th scope="col" >otherPurpose</th>
                <th scope="col" >Action</th>
              </tr>
            </thead>
        
            <tbody >
              {% for row in data %}
                <tr class="table-light">
                  <td>{{row.inOut}}</td>
                  <td>{{row.Type}}</td>
                  <td>{{row.Flag}}</td>
                  <td>{{row.StockInQty}}</td>
                  <td>{{row.ReExported}}</td>
                  <td>{{row.ChangeUsage}}</td>
                  <td>{{row.StockedOutFor}}</td>
                  <td>{{row.otherPurpose}}</td>
                  <td>
                  <a href="/updateerp15map/{{row.id}}" data-toggle="modal" data-target="#modalEdit{{row.id}}" style="color: green;"><i class="fa-solid fa-pen-to-square pr-3"></i></a>
                  <a href="/deleteerp15map/{{row.id}}" onclick="return confirm('Are you sure to delete?')" style="color: red;"><i class="fa-solid fa-trash-can"></i></a>
                  </td>
                </tr> 
            </tbody>
           
          <!-- Modal Edit-->
          <div class="modal fade" id="modalEdit{{row.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    <form method="POST" action="{{url_for('views.updateerp15map')}}">
                        <div class="form-group">
                          <input type="hidden" name="id" value="{{row.id}}"><div class="form-group">
                          <label for="exampleInputEmail1">inOut</label>
                          <input type="text"  value={{row.inOut}} class="form-control" name="inOut"  required tab-index="1" >
                        </div>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Type</label>
                          <input type="text" class="form-control" name="Type" value={{row.inOut}} required tab-index="2">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputname1">Flag</label>
                          <input type="text" class="form-control" name="Flag" value={{row.Flag}}  required tab-index="3">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputname1">StockInQty</label>
                          <input type="text" class="form-control" name="StockInQty" value={{row.StockInQty}} required tab-index="4">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputname1">ReExported</label>
                          <input type="text" class="form-control" name="ReExported" value={{row.ReExported}} required tab-index="5">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputname1">ChangeUsage</label>
                          <input type="text" class="form-control" name="ChangeUsage" value={{row.ChangeUsage}} required tab-index="6">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputname1">StockedOutFor</label>
                          <input type="text" class="form-control" name="StockedOutFor" value={{row.StockedOutFor}}  required tab-index="7">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputname1">otherPurpose</label>
                          <input type="text" class="form-control" name="otherPurpose" value={{row.otherPurpose}} required tab-index="8">
                        </div>
                        <button type="submit" class="btn btn-primary" tab-index="9">Submit</button>
                      </form>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          </table>
        
        </div>
      </div>
    </div>
  </div>

  {% endblock%}

